nav a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}
nav a:hover {
	background-color: #111;
}
nav {
	background-color: #333;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
nav li {
	flex: 1;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	font: Trebuchet MS;
	background-color: #CCCCFF;
}
main{
	padding: 20px;
}
p {
	font-size: 20px;
}
li {
	font-size: 20px;
}